@model EmpAccWebApp.Models.IndexViewModel
@{
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your personal settings</h4>
    <div class="row" enctype="multipart/form-data">
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.SecondName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SecondName)
                    </div>
                </div>
             }
        </div>
        <div class="col-md-4">
            <img id="phofPhoto" style="height:400px; width:400px" src="@Url.Content(Model.ProfilePhoto)" />
            @using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new {enctype="multipart/form-data"}))
            {
                <input type="file" name="picture" class="form-group"/>
                <input type="submit" value="Upload file" class="form-group" />
            }
        </div>
    </div>
</div>



@section Scripts{ 

}
